{% extends 'admin.html'%}
{% block content %}
<div class="row">
    <div class="col-md-8">
            <div class="content-section">
                    <div class="media">
                            <img class="rounded-circle account-img" src="{{view}}" style="width: 300px;height: 150px;">
                            <div class="media-body">
                              
                             
                            </div>
                     </div>
                    <form method="POST" action="" enctype="multipart/form-data">

                
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ form.name.label(class="form-control-label") }}

                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                                {{ form.mall.label(class="form-control-label") }}
                                {% if form.mall.errors %}
                                {{ form.mall(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.mall.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.mall(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                                {{ form.category.label(class="form-control-label") }}
                                {% if form.category.errors %}
                                {{ form.category(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.category.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.category(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.phoneno.label(class="form-control-label") }}
                            {% if form.phoneno.errors %}
                                {{ form.phoneno(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.phoneno.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.phoneno(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                     
        
                        
                        <div class="form-group">
                            {{ form.desc.label(class="form-control-label") }}
                            {% if form.desc.errors %}
                                {{ form.desc(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.desc.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.desc(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.picture.label() }}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                 <div class = "form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                        {% if action %}
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        {% endif %}
                </div>
                </form>
                {% if action %}
                 <!-- Modal -->
                 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" >Delete Shop?</h5>
                            <button type="button" class="close" data-dismiss="modal" ></button>
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form action="/shopdelete/{{shop.id}}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                            </div>
                        </div>
                        </div>
                </div>
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}