
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title></title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../static/payment/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/payment/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/payment/css/font-awesome.css" rel="stylesheet">
	<!--pop-up-box-->
	<link href="../static/payment/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!--//pop-up-box-->
	<!-- price range -->
	<link rel="stylesheet" type="text/css" href="../static/payment/css/jquery-ui1.css">
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
	<!-- top-header -->
    
	<!-- //top-header -->
	<!-- header-bot-->

	<!-- //shop locator (popup) -->
	<!-- signin Model -->
	<!-- Modal1 -->
	
	<!-- //Modal1 -->
	<!-- //signin Model -->
	<!-- signup Model -->
	<!-- Modal2 -->

	<!-- //Modal2 -->
	<!-- //signup Model -->
	<!-- //header-bot -->
	<!-- navigation -->
	
	<!-- //navigation -->
	<!-- banner-2 -->

	<!-- page -->
	
	<!-- //page -->
	<!-- payment page-->
	<div class="privacy">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Payment
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">
				<!--Horizontal Tab-->
				<div id="parentHorizontalTab">
					<ul class="resp-tabs-list hor_1">
						<li>Cash on delivery (COD)</li>
						<li style="width: 400px;">Credit/Debit</li>
						<li style="">Paypal Account</li>
					</ul>
					<div class="resp-tabs-container hor_1">

						<div>
                            <div style="margin-bottom: 50px;">We also accept Cash on delivery. .</div>
							<form action="/cod/{{purchase.id}}" method="POST" class="creditly-card-form agileinfo_form">
								{{form.hidden_tag()}}
								<div class="creditly-wrapper wthree, w3_agileits_wrapper">
									<div class="credit-card-wrapper">
										
										{{ form.submit(class="btn btn-outline-info") }}
									</div>
								</div>
							</form>
						</div>
						<div>
							<form action="/creditcard/{{purchase.id}}" method="POST" class="creditly-card-form agileinfo_form">
								{{form1.hidden_tag()}}
								<div class="creditly-wrapper wthree, w3_agileits_wrapper">
									<div class="credit-card-wrapper">
										<div class="first-row form-group">
											<div class="controls">
												<label class="control-label">Name on Card</label>
												{% if form1.name.errors %}
												{{ form1.name(class="form-control form-control-lg is-invalid") }}
												<div class="invalid-feedback">
													{% for error in form1.name.errors %}
														<span>{{ error }}</span>
													{% endfor %}
												</div>
											{% else %}
												{{ form1.name(class="form-control form-control-lg") }}
											{% endif %}	
											
											</div>
											<div class="w3_agileits_card_number_grids">
												<div class="w3_agileits_card_number_grid_left">
													<div class="controls">
														<label class="control-label">Card Number</label>
														{% if form1.number.errors %}
														{{ form1.number(class="form-control form-control-lg is-invalid") }}
														<div class="invalid-feedback">
															{% for error in form1.number.errors %}
																<span>{{ error }}</span>
															{% endfor %}
														</div>
													{% else %}
														{{ form1.number(class="form-control form-control-lg") }}
													{% endif %}		
													</div>
												</div>
												<div class="w3_agileits_card_number_grid_right">
													<div class="controls">
														<label class="control-label">CVV</label>
														
														{% if form1.cvv.errors %}
														{{ form1.cvv(class="form-control form-control-lg is-invalid") }}
														<div class="invalid-feedback">
															{% for error in form1.cvv.errors %}
																<span>{{ error }}</span>
															{% endfor %}
														</div>
													{% else %}
														{{ form1.cvv(class="form-control form-control-lg") }}
													{% endif %}	
													
													</div>
												</div>
												<div class="clear"> </div>
											</div>
											<div class="controls">
												<label class="control-label">Expiration Date</label>
												
												{% if form1.date.errors %}
												{{ form1.date(class="form-control form-control-lg is-invalid") }}
												<div class="invalid-feedback">
													{% for error in form1.date.errors %}
														<span>{{ error }}</span>
													{% endfor %}
												</div>
											{% else %}
												{{ form1.date(class="form-control form-control-lg") }}
											{% endif %}	
											
											</div>
										</div>
										{{ form1.submit(class="btn btn-outline-info") }}
									</div>
								</div>
							</form>

						</div>
						<div>
							<div id="tab4" class="tab-grid" style="display: block;">
								<div class="row">
									<div class="col-md-6">
										<img class="pp-img" src="../static/payment/images/paypal.png" alt="Image Alternative text" title="Image Title">
										<p>Important: You will be redirected to PayPal's website to securely complete your payment.</p>
										<a class="btn btn-primary">Checkout via Paypal</a>
									</div>
									<div class="col-md-6 number-paymk">
										<form class="cc-form" action="/paypal/{{purchase.id}}" method="POST">
											{{form2.hidden_tag()}}
											<div class="clearfix">
												<div class="form-group form-group-cc-number">
													<label>Card Number</label>
													{% if form2.number.errors %}
														{{ form2.number(class="form-control form-control-lg is-invalid") }}
														<div class="invalid-feedback">
															{% for error in form2.number.errors %}
																<span>{{ error }}</span>
															{% endfor %}
														</div>
													{% else %}
														{{ form2.number(class="form-control form-control-lg") }}
													{% endif %}	<span class="cc-card-icon"></span>
												</div>
												<div class="form-group form-group-cc-cvc">
													<label>CVV</label>
													{% if form2.cvv.errors %}
														{{ form2.cvv(class="form-control form-control-lg is-invalid") }}
														<div class="invalid-feedback">
															{% for error in form2.cvv.errors %}
																<span>{{ error }}</span>
															{% endfor %}
														</div>
													{% else %}
														{{ form2.cvv(class="form-control form-control-lg") }}
													{% endif %}	</div>
											</div>
											<div class="clearfix">
												<div class="form-group form-group-cc-name">
													<label>Card Holder Name</label>
													{% if form2.name.errors %}
													{{ form2.name(class="form-control form-control-lg is-invalid") }}
													<div class="invalid-feedback">
														{% for error in form2.name.errors %}
															<span>{{ error }}</span>
														{% endfor %}
													</div>
												{% else %}
													{{ form2.name(class="form-control form-control-lg") }}
												{% endif %}
												</div>
												<div class="form-group form-group-cc-date">
													<label>Valid Thru</label>
													{% if form2.date.errors %}
													{{ form2.date(class="form-control form-control-lg is-invalid") }}
													<div class="invalid-feedback">
														{% for error in form2.date.errors %}
															<span>{{ error }}</span>
														{% endfor %}
													</div>
												{% else %}
													{{ form2.date(class="form-control form-control-lg") }}
												{% endif %}
												</div>
											</div>
											{{ form2.submit(class="btn btn-outline-info") }}
										</form>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
				<!--Plug-in Initialisation-->
			</div>
		</div>
	</div>
	<!-- //payment page -->

	<!-- newsletter -->
	
	<!-- //newsletter -->
	<!-- footer -->
	
	<!-- //footer -->
	<!-- copyright -->
	<div class="copy-right">
		<div class="container">
			
		</div>
	</div>
	<!-- //copyright -->




	<style>
	
	
	input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    color: white;
    background-color:orangered;
    height: 53px;
    -ms-transition: 0.5s all;
}
	
	
	
	</style>
	<!-- js-files -->
	<!-- jquery -->
	<script src="../static/payment/js/jquery-2.1.4.min.js"></script>
	<!-- //jquery -->

	<!-- popup modal (for signin & signup)-->
	<script src="../static/payment/js/jquery.magnific-popup.js"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- Large modal -->
	<!-- <script>
		$('#').modal('show');
	</script> -->
	<!-- //popup modal (for signin & signup)-->

	<!-- cart-js -->
	<script src="../static/payment/js/minicart.js"></script>
	<script>
		paypalm.minicartk.render(); //use only unique class names other than paypal1.minicart1.Also Replace same class name in css and minicart.min.js

		paypalm.minicartk.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- easy-responsive-tabs -->
	<link rel="stylesheet" type="text/css" href="../static/payment/css/easy-responsive-tabs.css " />
	<script src="../static/payment/js/easyResponsiveTabs.js"></script>

	<script>
		$(document).ready(function () {
			//Horizontal Tab
			$('#parentHorizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				tabidentify: 'hor_1', // The tab groups identifier
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#nested-tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
		});
	</script>
	<!-- //easy-responsive-tabs -->

	<!-- credit-card -->
	<script src="../static/payment/js/creditly.js"></script>
	<link rel="stylesheet" href="../static/payment/css/creditly.css" type="text/css" media="all" />

	<script>
		$(function () {
			var creditly = Creditly.initialize(
				'.creditly-wrapper .expiration-month-and-year',
				'.creditly-wrapper .credit-card-number',
				'.creditly-wrapper .security-code',
				'.creditly-wrapper .card-type');

			$(".creditly-card-form .submit").click(function (e) {
				e.preventDefault();
				var output = creditly.validate();
				if (output) {
					// Your validated credit card output
					console.log(output);
				}
			});
		});
	</script>
	<!-- //credit-card -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!-- smoothscroll -->
	<script src="../static/payment/js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="../static/payment/js/move-top.js"></script>
	<script src="../static/payment/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- for bootstrap working -->
	<script src="../static/payment/js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->

</body>

</html>